@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,600;1,400&family=Orbitron:wght@400;500;700;900&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: white;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Exo 2', sans-serif;
}
