body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: white;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
